* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game {
  padding-top: 20px;
  width: 640px;
  height: 640px;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.game-card {
  position: relative;
  border-radius: 5px;

  height: calc(25% - 10px);
  width: calc(25% - 10px);
  margin: 5px;

  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  backface-visibility: hidden;
}

.game-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.game-card.flip {
  transform: rotateY(180deg);
}

.game-image {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #2e4a62;
}

.front {
  transform: rotateY(180deg);
}
